<!-- module html  -->
<div class="relative py-[100px] overflow-hidden">
  <div class="lg:w-6/12 hidden lg:!block lg:!visible absolute right-0 top-0 bottom-0">

  {% for item in module.overlay_images %}
    
    <div class="absolute {% if loop.first %} top-[20px] left-[20px] {% elif loop.last %} bottom-[20px] right-[32px]  {% else %} bottom-[20px] left-0 {% endif %} z-10">
    {% if item.src %}
      {% set sizeAttrs = 'width="{{ item.width }}" height="{{ item.height }}"' %}
      {% if item.size_type == 'auto' %}
        {% set sizeAttrs = 'width="{{ item.width }}" height="{{ item.height }}" style="max-width: 100%; height: auto;"' %}
      {% elif item.size_type == 'auto_custom_max' %}
        {% set sizeAttrs = 'width="{{ item.max_width }}" height="{{ item.max_height }}" style="max-width: 100%; height: auto;"' %}
      {% endif %}
      {% set loadingAttr = item.loading != 'disabled' ? 'loading="{{ item.loading }}"' : '' %}
      <img  src="{{ item.src }}" alt="{{ item.alt }}" {{ loadingAttr }} {{ sizeAttrs }}>
    {% endif %}
    </div>
  {% endfor %}

  <div class="absolute inset-0 flex justify-center items-center">
    <div class="rounded-full border-2 border-[#C0E7D8]  lg:w-[800px] lg:h-[800px] xl:w-[900px] xl:h-[900px] flex items-center justify-center">
      <div class="p-20">
        <div class="rounded-full border-2 border-dashed border-[#C0E7D8]  lg:w-[600px] lg:h-[600px] xl:w-[700px] xl:h-[700px] flex items-center justify-center">
          <div class="p-40">
            <div class="rounded-full border-2 border-[#C0E7D8] w-[450px] h-[450px]"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="absolute flex items-center justify-center w-full h-full inset-0 cs-hero-bg">
    <div class="absolute w-full h-full inset-0  z-20"></div>
    
    {% if module.background_video.player_id %}
  {% set max_width = module.background_video.size_type == 'auto_custom_max' ? module.background_video.max_width : module.background_video.width %}
  {% set max_height = module.background_video.size_type == 'auto_custom_max' ? module.background_video.max_height : module.background_video.height %}
  {% video_player "embed_player"
    player_id={{ module.background_video.player_id }}
    type={{ module.background_video.player_type || 'scriptV4' }}
    full_width={{ module.background_video.size_type == 'auto_full_width' }},
    conversion_asset={{ module.background_video.conversion_asset|tojson|safe }}
    autoplay={{ module.background_video.autoplay }}
    hidden_controls={{ module.background_video.hide_controls }}
    loop={{ module.background_video.loop_video }}
    muted={{ module.background_video.mute_by_default }}
  %}
  {% else %}
      
  {% if module.image.src %}
  {% set sizeAttrs = 'width="{{ module.image.width }}" height="{{ module.image.height }}"' %}
  {% if module.image.size_type == 'auto' %}
    {% set sizeAttrs = 'width="{{ module.image.width }}" height="{{ module.image.height }}" style="max-width: 100%; height: auto;"' %}
  {% elif module.image.size_type == 'auto_custom_max' %}
    {% set sizeAttrs = 'width="{{ module.image.max_width }}" height="{{ module.image.max_height }}" style="max-width: 100%; height: auto;"' %}
  {% endif %}
  {% set loadingAttr = module.image.loading != 'disabled' ? 'loading="{{ module.image.loading }}"' : '' %}
  <img src="{{ module.image.src }}" alt="{{ module.image.alt }}" {{ loadingAttr }} {{ sizeAttrs }}>
  {% endif %}
{% endif %}

</div>
</div>

<div class="container">
  <div class="w-full lg:w-5/12 mb-24 lg:mb-0">
    <div class="px-5">
      <div class="flex items-center pl-[24px] lg:pl-[40px] mb-6">
        <div class="py-2">
          <a href="/customers/" class="m-0 text-[#0FBF84] text-[14px] uppercase tracking-widest font-bold">{{ module.label_text }}</a>
        </div>
        <div class=" h-full  w-[1px] bg-[#0FBF84]  mx-6">
          &nbsp;
        </div>
        <div class="w-20 ">
          {% if module.logo.src %}
          {% set sizeAttrs = 'width="{{ module.logo.width }}" height="{{ module.logo.height }}"' %}
          {% if module.logo.size_type == 'auto' %}
            {% set sizeAttrs = 'width="{{ module.logo.width }}" height="{{ module.logo.height }}" style="max-width: 100%; height: auto;"' %}
          {% elif module.logo.size_type == 'auto_custom_max' %}
            {% set sizeAttrs = 'width="{{ module.logo.max_width }}" height="{{ module.logo.max_height }}" style="max-width: 100%; height: auto;"' %}
          {% endif %}
          {% set loadingAttr = module.logo.loading != 'disabled' ? 'loading="{{ module.logo.loading }}"' : '' %}
          <img src="{{ module.logo.src }}" alt="{{ module.logo.alt }}" {{ loadingAttr }} {{ sizeAttrs }}>
        {% endif %}
   
        </div>
      </div>
      <div class="border-l-4 border-[#0FBF84] pl-[24px] lg:pl-[40px]">
        <h1 class="text-white lg:!text-[50px]">
          {{ module.h1 }}
        </h1>
        
      </div>
      <div class="pl-[24px] lg:pl-[40px]">
        <p class="text-[18px] text-white">
          {{ module.paragraph }}
        </p>
      </div>
    </div>
  </div>
  <div class="w-full  lg:hidden relative ">

    {% for item in module.overlay_images %}
      
      <div class="absolute {% if loop.first %} top-0 left-0 {% elif loop.last %} bottom-0 right-0  {% else %} bottom-0 left-0 {% endif %} z-10">
      {% if item.src %}
        {% set sizeAttrs = 'width="{{ item.width }}" height="{{ item.height }}"' %}
        {% if item.size_type == 'auto' %}
          {% set sizeAttrs = 'width="{{ item.width }}" height="{{ item.height }}" style="max-width: 100%; height: auto;"' %}
        {% elif item.size_type == 'auto_custom_max' %}
          {% set sizeAttrs = 'width="{{ item.max_width }}" height="{{ item.max_height }}" style="max-width: 100%; height: auto;"' %}
        {% endif %}
        {% set loadingAttr = item.loading != 'disabled' ? 'loading="{{ item.loading }}"' : '' %}
        <img class="w-1/2 {% if loop.first %} ml-0 {% elif loop.last %} mr-0 {% endif %}" src="{{ item.src }}" alt="{{ item.alt }}" {{ loadingAttr }} {{ sizeAttrs }}>
      {% endif %}
      </div>
    {% endfor %}
  
    <div class="absolute inset-0 flex justify-center items-center ">
      <div class="rounded-full border-2 border-[#C0E7D8] w-[400px] h-[400px]  flex items-center justify-center">
        <div class="p-10">
          <div class="rounded-full border-2 border-dashed border-[#C0E7D8]  flex items-center justify-center w-[380px] h-[380px]">
            <div class="p-10">
              <div class="rounded-full border-2 border-[#C0E7D8] w-[330px] h-[330px]"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="h-[400px] lg:hidden"></div>
  
    <div class="absolute flex items-center justify-center w-full h-full inset-0 cs-hero-bg">
      <div class="absolute w-full h-full inset-0  z-20"></div>
      
      {% if module.background_video.player_id %}
        {% set max_width = module.background_video.size_type == 'auto_custom_max' ? module.background_video.max_width : module.background_video.width %}
        {% set max_height = module.background_video.size_type == 'auto_custom_max' ? module.background_video.max_height : module.background_video.height %}
        {% video_player "embed_player"
          player_id={{ module.background_video.player_id }}
          type={{ module.background_video.player_type || 'scriptV4' }}
          full_width={{ module.background_video.size_type == 'auto_full_width' }},
          conversion_asset={{ module.background_video.conversion_asset|tojson|safe }}
          autoplay={{ module.background_video.autoplay }}
          hidden_controls={{ module.background_video.hide_controls }}
          loop={{ module.background_video.loop_video }}
          muted={{ module.background_video.mute_by_default }}
        %}
      
      {% else %}
      
        {% if module.image.src %}
        {% set sizeAttrs = 'width="{{ module.image.width }}" height="{{ module.image.height }}"' %}
        {% if module.image.size_type == 'auto' %}
          {% set sizeAttrs = 'width="{{ module.image.width }}" height="{{ module.image.height }}" style="max-width: 100%; height: auto;"' %}
        {% elif module.image.size_type == 'auto_custom_max' %}
          {% set sizeAttrs = 'width="{{ module.image.max_width }}" height="{{ module.image.max_height }}" style="max-width: 100%; height: auto;"' %}
        {% endif %}
        {% set loadingAttr = module.image.loading != 'disabled' ? 'loading="{{ module.image.loading }}"' : '' %}
        <img src="{{ module.image.src }}" alt="{{ module.image.alt }}" {{ loadingAttr }} {{ sizeAttrs }}>
        {% endif %}
      {% endif %}
  
  </div>
  </div>
</div>

</div>
