<!-- module html  -->
{{ require_js("https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/noframework.waypoints.min.js", "head") }}

{% set customers = [{
    "logo" : "",
    "title" : "Customer Case Study: Mid Core Games",
    "paragraph" : "It quickly became clear that they needed to explore new outlets for advertising. Wisp was looking for a way to break into",
    "img": "",
    "items" : [{
      "number" : "78K",
      "label" : "Installs",
    },
    {
      "number" : "<$5",
      "label" : "CPI Goal",
    },
    {
      "number" : "$2.19",
      "label" : "48 Hour CPI",
    }]
},
{
  "logo" : "",
  "title" : "Customer Case Study: Pharma",
  "paragraph" : "It quickly became clear that they needed to explore new outlets for advertising. Wisp was looking for a way to break into",
  "img": "",
  "items" : [{
    "number" : "78K",
    "label" : "Installs",
  },
  {
    "number" : "<$5",
    "label" : "CPI Goal",
  },
  {
    "number" : "$2.19",
    "label" : "48 Hour CPI",
  }]
},
{
  "logo" : "",
  "title" : "Customer Case Study: Furniture",
  "paragraph" : "It quickly became clear that they needed to explore new outlets for advertising. Wisp was looking for a way to break into",
  "img": "",
  "items" : [{
    "number" : "78K",
    "label" : "Installs",
  },
  {
    "number" : "<$5",
    "label" : "CPI Goal",
  },
  {
    "number" : "$2.19",
    "label" : "48 Hour CPI",
  }]
},
{
  "logo" : "",
  "title" : "Customer Case Study: Mid Core Games",
  "paragraph" : "It quickly became clear that they needed to explore new outlets for advertising. Wisp was looking for a way to break into",
  "img": "",
  "items" : [{
    "number" : "78K",
    "label" : "Installs",
  },
  {
    "number" : "<$5",
    "label" : "CPI Goal",
  },
  {
    "number" : "$2.19",
    "label" : "48 Hour CPI",
  }]
}] %}

<div id="vertical-info" class="flex flex-wrap  vertical-info-section {% if module.column_reverse %}

{% else %}
justify-end
{% endif %}">
  <div class="relative w-full md:w-10/12 lg:w-10/12">
    
      <div class="w-1 hidden md:!block md:!visible md:w-2 h-full bg-[#C0E7D8] absolute top-0 bottom-0 overflow-hidden translate-y-10 scroll-spine {% if module.column_reverse %}
      left-0 md:left-auto md:right-0
      {% else %}
      left-0
      {% endif %}" id="scroll-spine">
        
      <div class="w-full h-[100px] bg-[#009061]  top-0 vertical-marker absolute transition-all duration-300 ease-in-out vertical-marker " id="vertical-marker"></div>
        
    </div>
    {% for item in module.rows %}
    {% set href = item.link.url.href %}
    {% if item.link.url.type is equalto "EMAIL_ADDRESS" %}
      {% set href = "mailto:" + href %}
    {% endif %}

    <div class="mb-[200px] md:mb-[250px] last:mb-0 vr-item relative ">
      <div class="absolute hidden md:!block md:!visible top-0 w-3 h-3 md:w-4 md:h-4 rounded-full bg-[#009061] translate-y-8 {% if module.column_reverse %}
      left-0 md:left-auto -translate-x-1 md:right-0 md:translate-x-1 
      {% else %}
      left-0 -translate-x-1 
      {% endif %}"></div>
           
      <div class="flex flex-wrap flex-col-reverse  md:-mx-6 {% if module.column_reverse %}
      md:flex-row-reverse
      {% else %}
      md:flex-row
    {% endif %}">
        <div class="w-full md:w-1/2 px-6">
          <div class="w-full md:w-10/12 ">
            <div class="{% if module.column_reverse %}
                 md:pr-12
              {% else %}
            
                md:pl-12
        
              {% endif %}">
              <div class="md:absolute {% if module.column_reverse %}
              -right-[150px]
              {% else %}
              -left-[150px]
              {% endif %}  top-6 w-[110px] mb-6">
              {% if item.logo.src %}
              {% set sizeAttrs = 'width="{{ item.logo.width }}" height="{{ item.logo.height }}"' %}
              {% if item.logo.size_type == 'auto' %}
                {% set sizeAttrs = 'width="{{ item.logo.width }}" height="{{ item.logo.height }}" style="max-width: 100%; height: auto;"' %}
              {% elif item.logo.size_type == 'auto_custom_max' %}
                {% set sizeAttrs = 'width="{{ item.logo.max_width }}" height="{{ item.logo.max_height }}" style="max-width: 100%; height: auto;"' %}
              {% endif %}
              {% set loadingAttr = item.logo.loading != 'disabled' ? 'loading="{{ item.logo.loading }}"' : '' %}
              <img class="w-full" src="{{ item.logo.src }}" alt="{{ item.logo.alt }}" {{ loadingAttr }} {{ sizeAttrs }}>
            {% endif %}
              </div>
              
              <p class="text-[#009061] text-[14px] m-0 font-plex font-bold">
                FEATURED
              </p>

              <p class="text-[36px] text-[#1C4633] font-medium ">{{ item.title }}</p>
              <p class="text-[18px] text-[#1C4633] ">{{ item.paragraph }}</p>
              <div class="flex mb-12 py-6 border-t border-b border-[#C0E7D8] ">
                {% for col in item.columns %}
                <div class="w-1/3">
                  <div>
                    <p class="m-0 text-[20px] md:text-[16px] lg:text-[24px] font-semibold text-[#1C4633]">{{col.number}}</p>
                    <p class="m-0 text-[10px] text-[#009061]">{{col.detail}}</p>
                  </div>
                </div>
                {% endfor  %}
              </div>
              

              <a href="{{ href }}"
              {% if item.link.open_in_new_tab %}target="_blank"{% endif %}
              {% if item.link.rel %}rel="{{ item.link.rel }}"{% endif %}
              class="hs-button">
              {%if item.cta_text %}
                {{item.cta_text}}
              {%else%}
                See full case study
              {%endif%}
              </a>
      
            </div>
          
          </div>
        </div>

        <div class="w-full md:w-1/2 px-6 mb-12 lg:mb-0 " >
          {% if item.item_video.player_id %}
        {% set max_width = item.item_video.size_type == 'auto_custom_max' ? item.item_video.max_width : item.item_video.width %}
        {% set max_height = item.item_video.size_type == 'auto_custom_max' ? item.item_video.max_height : item.item_video.height %}
         
        {% video_player "embed_player"
        player_id={{ item.item_video.player_id }} type={{ item.item_video.player_type || 'scriptV4' }} full_width=False, width='720', height='720', conversion_asset={{ item.item_video.conversion_asset|tojson|safe }} autoplay={{ item.item_video.autoplay }} hidden_controls={{ item.item_video.hide_controls }}
        loop={{ item.item_video.loop_video }}
        muted={{ item.item_video.mute_by_default }}
        %}
      {% else %}
          
          {% set sizeAttrs = 'width="{{ item.image.width }}" height="{{ item.image.height }}"' %}
          {% if item.image.size_type == 'auto' %}
            {% set sizeAttrs = 'width="{{ item.image.width }}" height="{{ item.image.height }}" style="max-width: 100%; height: auto;"' %}
          {% elif item.image.size_type == 'auto_custom_max' %}
            {% set sizeAttrs = 'width="{{ item.image.max_width }}" height="{{ item.image.max_height }}" style="max-width: 100%; height: auto;"' %}
          {% endif %}
           {% set loadingAttr = item.image.loading != 'disabled' ? 'loading="{{ item.image.loading }}"' : '' %}
          <img class="w-full mx-auto max-w-[300px]" src="{{ item.image.src }}" alt="{{ item.image.alt }}" {{ loadingAttr }} {{ sizeAttrs }}>
        {% endif %}

        </div>
    
      </div>
    </div>
    {% endfor %}
        
  </div>
</div>