{% set href = module.cta_section_button.link.url.href %}
  {% if module.cta_section_button.link.url.type is equalto "EMAIL_ADDRESS" %}
    {% set href = "mailto:" + href %}
  {% endif %}
<!-- module html  -->
<div class="relative">
  <div class="absolute right-0 lg:-right-10 lg:-top-10 -top-6 z-0">
    <div class="translate-x-1/5">
      <img class="w-1/2 md:h-[94px] md:w-[323px]" src="https://8975772.fs1.hubspotusercontent-na1.net/hubfs/8975772/texture-wide-blue.png" alt="Texture Dots right">
    </div>
  </div>
  <div class="absolute left-0 lg:-left-10 -bottom-10 z-0">
    <div class="-translate-x-1/4">
      <img class="w-1/2 md:h-[206px] md:w-[153px]" src="https://8975772.fs1.hubspotusercontent-na1.net/hubfs/8975772/Group%20278687.png" alt="Texture Dots left">
    </div>
  </div>
  <div class="rounded-xl bg-[#1C4633] md:p-6 lg:p-12 relative group flex flex-col-reverse lg:block overflow-hidden">
    <div class="absolute right-0 top-0 bottom-0 w-10/12 md:w-3/5 overflow-hidden">
      {% if module.background_texture.src %}
       
        {% set loadingAttr = module.background_texture.loading != 'disabled' ? 'loading="{{ module.background_texture.loading }}"' : '' %}
        <img class="w-full h-full object-cover" src="{{ module.background_texture.src }}" alt="{{ module.background_texture.alt }}" {{ loadingAttr }} >
      {% endif %}
    </div>
    
  
    <div class="lg:w-1/2 p-6 lg:py-6 relative">
      <p class="text-[14px] md:text-[18px] font-bold leading-tight text-[#C0E7D8]">
      {{ module.cta_section_label }}
      </p>
      <p class="text-[24px] md:text-[36px] font-bold leading-tight text-white">
        {{ module.cta_section_header }}
      </p>
      <a href="{{href}}" 
      {% if module.cta_section_button.link.open_in_new_tab %}target="_blank"{% endif %}
      {% if module.cta_section_button.link.rel %}rel="{{ module.cta_section_button.link.rel }}"{% endif %} class="hs-button mb-12 lg:mb-0">{{ module.cta_section_button.text }}</a>
    </div>
  </div>
  
</div>