<!-- module html  -->
{% set stats = [{
  "title": "Total Growth",
  "number": "100.3%",
  "label": "MoM Revenue Growth",
  "icon": ""
},
{
  "title": "Orders",
  "number": "5,000+",
  "label": "first 30 days",
  "icon": ""
},
{
  "title": "Revenue Growth",
  "number": "90.2%",
  "label": "Attributed to tvScientific",
  "icon": ""
}] %}

<div class="border p-6 rounded relative bg-white z-10">
  {% for stat in module.stats %}
  {% set sizeAttrs = 'width="{{ stat.icon.width }}" height="{{ stat.icon.height }}"' %}
  
  <div class="border-b py-6 last:border-transparent">
    <div>
      <p class="text-[24px] font-bold">{{stat.title}}</p>

    </div>
    <div class="flex items-center">
      <div class="w-[74px]">
        {% if stat.icon.size_type == 'auto' %}
        {% set sizeAttrs = 'width="{{ stat.icon.width }}" height="{{ stat.icon.height }}" style="max-width: 100%; height: auto;"' %}
      {% elif stat.icon.size_type == 'auto_custom_max' %}
        {% set sizeAttrs = 'width="{{ stat.icon.max_width }}" height="{{ stat.icon.max_height }}" style="max-width: 100%; height: auto;"' %}
      {% endif %}
      {% set loadingAttr = stat.icon.loading != 'disabled' ? 'loading="{{ stat.icon.loading }}"' : '' %}
        <img class="w-full" src="{{ stat.icon.src }}" alt="{{ stat.icon.alt }}" {{ loadingAttr }} >
  
      </div>
      <div class="w-full  px-6 md:px-3 lg:px-6">
        <p class="m-0 text-[28px] md:text-[16px] lg:text-[36px] font-bold text-[#13171A]">{{stat.number}}</p>
        <p class="m-0 text-[16px] md:text-[14px] lg:text-[16px] text-[#77858C]">{{stat.stat_label}}</p>

      </div>
    </div>
  </div>
  {% endfor  %}

</div>