<!-- module html  -->

{% set main_items_classes = "text-[16px] text-[#1C4633] m-0 group-hover/main:text-[#0fbf84] hover:no-underline block py-3 lg:py-10 font-medium" %}

{% macro dropdown_menu_item(dropdown) %}
             
  <div class="w-[15px]">
    
  {% if dropdown.icon.src %}
    {% set sizeAttrs = 'width="{{ dropdown.icon.width }}" height="{{ itdropdownem2.icon.height }}"' %}
    {% if dropdown.icon.size_type == 'auto' %}
      {% set sizeAttrs = 'width="{{ dropdown.icon.width }}" height="{{ dropdown.icon.height }}" style="max-width: 100%; height: auto;"' %}
    {% elif dropdown.icon.size_type == 'auto_custom_max' %}
      {% set sizeAttrs = 'width="{{ dropdown.icon.max_width }}" height="{{ dropdown.icon.max_height }}" style="max-width: 100%; height: auto;"' %}
    {% endif %}
    {% set loadingAttr = dropdown.icon.loading != 'disabled' ? 'loading="{{ dropdown.icon.loading }}"' : '' %}
    <img src="{{ dropdown.icon.src }}" alt="{{ dropdown.icon.alt }}" {{ loadingAttr }} {{ sizeAttrs }}>
  {% endif %}
  </div>
  <p class="m-0 w-full text-[14px] text-[#1C4633] px-3 font-semibold">
    {{dropdown.title}}
  </p>

{% endmacro %}

{% macro dropdown_label(label) %}
<div class="mb-3 ">
  <p class="text-[12px] text-[#9AA0A6] m-0">
    {{label}}
  </p>
</div>
{% endmacro %}
{% set recent_posts = blog_recent_posts('default', 3) %}

{% set dropdown_link_classes = "flex items-center w-full lg:px-3 py-2 hover:no-underline mb-1 rounded last:mb-0 hover:bg-[#E5E7EB]" %}

<ul class="flex flex-wrap items-center justify-center m-0 p-0 list-none py-12 lg:py-0 border-t lg:border-0 relative">
           
  {% for item in module.menu_item %}

      {% set href = item.link.url.href %}
      {% if item.link.url.type is equalto "EMAIL_ADDRESS" %}
        {% set href = "mailto:" + href %}
      {% endif %}
    
  <li class="group/main menu-item lg:px-2 lg:relative w-full lg:w-auto cursor-pointer lg:cursor-default xl:mx-1 {% if item.dropdown|length > 0 %}{%else%}single-nav{% endif %}">
    <div class="flex flex-wrap items-center justify-between">
      
      <a class="{{main_items_classes}}" {% if href %} href="{{ href }} {% endif %}"
        {% if item.link.open_in_new_tab %}target="_blank"{% endif %}
        {% if item.link.rel %}rel="{{ item.link.rel }}"{% endif %}
        >
        {{item.title}}
      </a>
      
      {% if item.dropdown|length > 0 %}
      <div class="pl-3 pr-2 hidden lg:!block lg:!visible">
      
        <svg class="group-hover/main:rotate-180 origin-center transition-transform duration-200" width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M11 7.70752L8 10.7075L5 7.70752" stroke="#31373D" stroke-width="1.5"/>
          </svg>
          
      </div>
      <div class="px-6 lg:hidden sub-menu-caret duration-200 transition-transform origin-center">
        <svg width="6" height="11" viewBox="0 0 6 11" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M0.768463 1.22314L4.27551 4.72993C4.66606 5.12045 4.66607 5.75363 4.27553 6.14417L0.768462 9.65124" stroke="#1C4633" stroke-width="1.5" stroke-linecap="round"/>
          </svg>            
      </div>
      
      {% endif %}
    
    </div>
      
    {% if item.dropdown|length > 0 %}
      
    <div class="absolute lg:group-hover/main:block lg:hidden bg-white lg:shadow-lg lg:-left-[28px] lg:py-12 lg:px-3 rounded-b-lg z-30 top-5 lg:top-[100px] {% if item.large_dropdown %} lg:w-[600px] {% else %} lg:w-[auto] {% endif %} hidden lg:block lg:!visible child-dropdown w-full h-screen lg:h-auto py-6 lg:py-0 {% unless item.large_dropdown %}content-aware{% endunless %}">
      {% if item.has_blog %}

      <div class="flex flex-wrap  px-3 lg:px-0">
        <div class="w-full lg:w-[270px] lg:px-6 mb-6 lg:mb-0">

          {{dropdown_label(item.title)}}
          <div class="flex flex-wrap lg:-mx-3">

            {% for dropdown in item.dropdown %}
              {% set href = dropdown.link.url.href %}
                {% if dropdown.link.url.type is equalto "EMAIL_ADDRESS" %}
                  {% set href = "mailto:" + href %}
                {% endif %}
              
              <a {% if href %} href="{{ href }} {% endif %}"
              {% if dropdown.link.open_in_new_tab %}target="_blank"{% endif %}
              {% if dropdown.link.rel %}rel="{{ dropdown.link.rel }}"{% endif %}class="{{dropdown_link_classes}}">
              {{dropdown_menu_item(dropdown)}}
            </a>
            {% endfor %}

          </div>
        </div>

        <div class="w-full lg:w-6/12 lg:px-6 lg:border-l">
          {{dropdown_label("Latest")}}

          {% for rp in recent_posts %}
            <a href="{{rp.absolute_url}}" class="flex w-full mb-3 last:mb-0 hover:no-underline group ">
              <div class="w-32">
                <img class="rounded" src="{{rp.featured_image}}" alt="{{rp.name}}">
                
              </div >
              <div class="w-full px-3">
                <p class="text-[12px] text-[#727383] group-hover:text-[#1C4633] m-0">{{rp.name}}</p>
                
              </div>
              
            </a>
          {% endfor %}
        </div>
      
      </div>

      {% else %}
      <div class="px-3 lg:px-6">
        {{dropdown_label(item.title)}}
        <div class="flex flex-wrap lg:-mx-3">
    
          {% for dropdown in item.dropdown %}
    
            {% set href = dropdown.link.url.href %}
              {% if dropdown.link.url.type is equalto "EMAIL_ADDRESS" %}
                {% set href = "mailto:" + href %}
              {% endif %}
            
            <a href="{{ href }}"
              {% if dropdown.link.open_in_new_tab %}target="_blank"{% endif %}
              {% if dropdown.link.rel %}rel="{{ dropdown.link.rel }}"{% endif %} class=" w-full {% if item.as_rows %} lg:w-1/2 {% endif %} {{dropdown_link_classes}}">
            
              {{dropdown_menu_item(dropdown)}}

            </a>
          {% endfor %}

        </div>
      </div>
      {% endif %}
    </div>

    {% endif %}
    
  </li>
  {% endfor %}
</ul>

